*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  cursor: pointer;
}

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.primary-title {
  font-size: 2.5em;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
}

.secondary-title {
  font-size: 1em;
  color: hsl(0deg, 0%, 100%);
  font-weight: 200;
}

.mini-title {
  font-size: 2em;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 0.7em 2em;
  background-color: hsl(231deg, 98%, 60%);
  border-radius: 0.5em;
  color: hsl(0deg, 0%, 100%);
  transition: all 0.25S ease-in-out;
}
.btn:hover, .btn:focus {
  transform: scale(1.05);
  opacity: 0.9;
}

.card {
  background: radial-gradient(red, orange);
  border-radius: 2em;
  padding: 2em;
  flex-basis: 30%;
  text-align: center;
  transition: all 0.25S ease-in-out;
}
.card__content {
  width: 100%;
  object-fit: cover;
}
.card__btn {
  margin-top: 1em;
}
.card__btn:hover, .card__btn:focus {
  transform: scale(0.95);
}
.card:hover, .card:focus {
  transform: scale(0.95);
}

.input {
  padding: 1em 2em;
  outline: 0.2em solid #cccccc;
  border-radius: 2em;
}

.header {
  background: url(../img/shoe-1.webp), radial-gradient(gray, hsl(0deg, 0%, 15%));
  block-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 18em 0;
}
.header__container {
  text-align: center;
}
.header__container > * + * {
  margin-top: 1em;
}
@supports (background-blend-mode: multiply) {
  .header {
    background-blend-mode: multiply;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form > * {
  margin-top: 2em;
}
.form .contact__btn {
  border-radius: 2em;
}
.form .contact__btn:hover, .form .contact__btn:focus {
  transform: scale(1);
}

.product-section__container {
  text-align: center;
  padding: 12em 0;
}
.product-section__container .product-section-products {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 3em;
}
.product-section__container .product-section-products > * + * {
  margin-left: 3em;
}
.product-section__container .product-section-products .product__title {
  color: hsl(0deg, 0%, 15%);
  font-weight: 400;
}
.product-section__container .product-section__item {
  flex-basis: 30%;
  min-width: 15em;
  position: relative;
  margin-top: 1em;
  transition: all 0.25S ease-in-out;
}
.product-section__container .product-section__item img {
  width: 100%;
  height: auto;
}
.product-section__container .product-section__item:after {
  content: "";
  top: 0;
  left: 0;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  position: absolute;
  background-color: hsl(231deg, 98%, 60%);
  z-index: -1;
}
.product-section__container .product-section__item:hover, .product-section__container .product-section__item:focus {
  transform: scale(1.1);
  opacity: 0.9;
}
.product-section__container .product-section__title {
  color: hsl(0deg, 0%, 15%);
}

.cards-section {
  background: linear-gradient(hsl(0deg, 0%, 100%), rgb(95, 93, 199));
}

.cards-section__container {
  padding: 5em 0;
  text-align: center;
}
.cards-section__container h2 {
  color: hsl(0deg, 0%, 15%);
}

.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.cards > * {
  margin-top: 2em;
}
.cards > * {
  margin-left: 1em;
  margin-right: 1em;
}
.cards .red-one {
  background: radial-gradient(red, orange);
}
.cards .purple-one {
  background: radial-gradient(rgb(0, 238, 255), rgb(87, 41, 255));
}
.cards .air-one {
  background: radial-gradient(rgb(87, 221, 255), rgb(225, 217, 255));
}

.contact-section__container {
  display: flex;
}
.contact-section__container > * {
  width: 50%;
}
@media (max-width: 900px) {
  .contact-section__container > *:nth-child(1) {
    display: none;
  }
  .contact-section__container > * {
    width: 100%;
  }
}

.contact-section__left-side {
  background-image: url("../img/shoe-7.webp");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.contact-section__right-side {
  padding: 12em 0;
}
.contact-section__right-side h2 {
  color: hsl(0deg, 0%, 15%);
}

/*# sourceMappingURL=main.css.map */
